h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-heading);
}

h1 {
    font-size: var(--step-5);
}

h2 {
    font-size: var(--step-4);
}

h3 {
    font-size: var(--step-3);
    /* font-family: var(--font-family-body); */
}

h4 {
    font-size: var(--step-2);
}

h5 {
    font-size: var(--step-1);
}

h6 {
    font-size: var(--step-0);
}

a {
    color: var(--text-color-link);
    font-family: var(--font-family-link);
}

body {
    background: var(--background-color-body);
    color: var(--text-color-body);
    font-family: var(--font-family-body);
    font-size: var(--step--1);
}

main {
    padding: var(--step-2);
}

header {
    text-align: center;
}

p {
    margin-bottom: var(--step-1);
}

.hide {
    display: none;
}

.show {
    height: auto;
}

.search-form {
    text-align: center;
    display: block;
    max-width: 600px;
    width: 100%;
    margin: 50px auto;
}

.search-form input[type='search'] {
    background: lightgoldenrodyellow;
    max-width: 500px;
    width: calc(100% - 100px);
    height: 50px;
    padding: 5px 20px;
    margin: 20px 0;
}

.search-form button[type='submit'] {
    height: 50px;
    width: 100px;
    color: gold;
    background: black;
    border: none;
}

.search-functions {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    border: none;
}

.range-label {
    font-size: 16px;
    margin-right: 10px;
}

.range-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #f2f2f2;
    outline: none;
    position: relative;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.range-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    background: #000;
    position: relative;
    z-index: 2;
}

.range-slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.range-slider::-moz-range-track {
    width: 100%;
    height: 2px;
    background: #000;
    position: relative;
    z-index: 2;
}

.range-slider::-ms-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.range-slider::-ms-track {
    width: 100%;
    height: 2px;
    background: #000;
    position: relative;
    z-index: 2;
}

.range-slider:active::-webkit-slider-thumb {
    background: #ff4d4f;
}

.range-slider:active::-moz-range-thumb {
    background: #ff4d4f;
}

.range-slider:active::-ms-thumb {
    background: #ff4d4f;
}

.range-value {
    font-size: 14px;
    margin-top: 5px;
}

.abv-range-min {
    text-align: left;
}

.abv-range-max {
    text-align: right;
}

.search-form .search-functions {
    display: flex;
    justify-content: space-between;
}

.search-form .search-functions a {
    text-decoration: none;
}



@media (width > 700px) {
    .beer-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: var(--step-1);
    }
}

@media (width > 870px) {
    .beer-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: var(--step-2);
    }
}


.beer-list h3 {
    font-size: var(--step-0);
    margin-bottom: var(--step-1);
    font-weight: 300;
}

.beer-card {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--step-2); */
    margin: 0 0 var(--step-2);
    /* min-width: 250px; */
    text-align: center;
    /* border-top: 2px solid; */
    border-bottom: 2px solid;
}

.beer-card img {
    height: 200px;
    display: inline-block;
}

.beer-card a {
    color: var(--text-color-body);
    text-decoration: none;
}


.pill {
    display: inline-block;
    padding: 6px 12px;
    background-color: gold;
    color: red;
    text-decoration: none;
    border-radius: 20px;
    margin: var(--step-1) 0;
    transition: background-color 0.3s ease;
}

.pill:hover {
    background-color: rgb(252, 244, 197);
}

.pill:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgb(248, 231, 132);
}

.highlight {
    font-size: calc(var(--step--1) * 0.75);
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.highlight a {
    color: var(--text-color-link);
}

.logo {
    text-align: center;
    display: inline-block;
    background: url('/images/favicon.svg') no-repeat left center;
    font-family: 'Striper', sans-serif;
}

.logo a {
    color: var(--text-color-body);
    text-decoration: none;
    font-family: 'Striper', sans-serif;
    text-indent: 58px;
    display: inline-block;
}

.beer-detail h3 {
    font-size: var(--step-1);
}

.beer-detail time {
    color: darkorange;
    margin: var(--step-1) 0;
    display: block;
}

.beer-detail img {
    max-height: 350px;
    /* display: block;
    margin: var(--step-1) auto; */
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: var(--step-3) auto;
    border-top: 5px solid black;
    border-bottom: 5px solid;
    padding: var(--step-3);
}

.hero p {
    max-width: 350px;
}

.spec-table {
    text-align: left;
    font-size: var(--step--2);
}

.beer-detail strong {
    margin-right: 5px;
}

.hops>div {
    margin: var(--step-1) 0;
    border-bottom: 2px solid;
}

@media (width > 700px) {
    .hops {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: var(--step-1);
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
}